* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.player-side {
    grid-area: player;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .6rem;
}

.robot-side {
    grid-area: robot;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .6rem;
}

.result-footer {
    grid-area: result;
}

.screen {
    display: grid;
    border: 1rem solid black;
    gap: 4rem;
    grid-template-areas: 
    ". . . ."
    ". player robot ."
    ". result result ."
    ". . . ."
    ;
}

#icon {
    width: 15rem;
}

.robot-icon {
    filter: invert(100%);
}

#option {
    width: 5rem;
    height: 7rem;
    cursor: pointer;
}

#option:hover {
    border: .1rem solid black;
    padding: .1rem;
}

.robot-rock, .robot-paper, .robot-scissors {
    display: none;
}

#player-points, #robot-points {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
}

.result {
    text-align: center;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.options {
    border: .2rem solid black;
    padding: .4rem;
}

.robot-options {
    border: .2rem solid rgb(255, 0, 0);
    padding: .4rem;
}